apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "postgresql.fullname" . }}
  labels:
    {{ include "postgresql.labels" . | nindent 4 }}
spec:
  serviceName: {{ include "postgresql.fullname" . }}
  replicas: 1
  selector:
    matchLabels:
      application: postgresql
      {{ include "postgresql.selectorLabels" . | nindent 6 }}
  {{- if .Values.persistence.enabled }}
  volumeClaimTemplates:
    - metadata:
        name: postgres-data
      spec:
        accessModes:
          - {{ .Values.persistence.accessMode | quote }}
        resources:
          requests:
            storage: {{ .Values.persistence.size | quote }}
  {{- end }}
  template:
    metadata:
      labels:
        application: postgresql
        {{ include "postgresql.selectorLabels" . | nindent 8 }}
      annotations:
        kubectl.kubernetes.io/default-container: api
        {{- with .Values.podAnnotations }}
        {{ toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- if not .Values.persistence.enabled }}
      volumes:
        - name: postgres-data
          emptyDir: {}
      {{- end }}
      containers:
        - name: postgres
          image: postgres:17
          envFrom:
            - configMapRef:
                name: {{ include "postgresql.fullname" . }}
            - secretRef:
                name: {{ include "postgresql.fullname" . }}
          {{ with .Values.extraEnv }}
          env:
            {{ toYaml . | nindent 12 }}
          {{- end }}
          ports:
            - containerPort: 5432
              name: postgres
          volumeMounts:
            - name: postgres-data
              mountPath: {{ .Values.postgres.data }}
          readinessProbe:
            exec:
              command:
                - pg_isready
                - -U
                - postgres
                - -d
                - {{ .Values.postgres.database | default "postgres" | quote }}
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            exec:
              command:
                - pg_isready
                - -U
                - postgres
                - -d
                - {{ .Values.postgres.database | default "postgres" | quote }}
            initialDelaySeconds: 30
            periodSeconds: 10