replicaCount: 1

name: &name stairling-backend

strategy: {}
#  type: Recreate
# Rollout sample
# canary:
#   maxSurge: 3
#   maxUnavailable: 0
#   canaryService: app-canary
#   stableService: app
#   steps:
#     - setWeight: 50
#     - pause: {}

image:
  repository: ghcr.io/stairlingtechnologies/backend
  tag: ''
  pullSecrets: []
  pullPolicy: Always
  #  - name: secret
  chromedriver:
    repository: ghcr.io/stairlingtechnologies/chromedriver
    tag: 0.1.0
  transferCreation:
    repository: ghcr.io/stairlingtechnologies/transfer-creation-job
    tag: ''
  transferStatusUpdate:
    repository: ghcr.io/stairlingtechnologies/transfer-status-update-job
    tag: ''
serviceAccount:
  create: true
  token: true
  name: *name
  annotations: {}

env: []

readinessProbe: {}
livenessProbe: {}
securityContext: {}

podAnnotations: {}
podLabels: {}
resources: {}
nodeSelector: {}
affinity: {}
tolerations: []

cronjobs:
  transferCreation:
    enabled: false
    schedules:
      - "0 6-18/2 * * mon-fri"
      - "0 6-18/4 * * sat,sun"
  transferStatusUpdate:
    enabled: false
    schedules:
      - "0 7-19/2 * * mon-fri"
      - "0 7-19/4 * * sat,sun"

service:
  name: *name
  internalPort: 4000
  externalPort: 443
  type: ClusterIP

ingress:
  enabled: true
  host: ''
  path: /
  className: ''
  annotations:
    nginx.ingress.kubernetes.io/cors-allow-credentials: "true"
    nginx.ingress.kubernetes.io/cors-allow-headers: DNT,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range,Authorization,Access-Control-Allow-Origin
    nginx.ingress.kubernetes.io/cors-allow-methods: GET, POST, PUT, DELETE, OPTIONS
    nginx.ingress.kubernetes.io/cors-allow-origin: '*'
    nginx.ingress.kubernetes.io/cors-expose-headers: '*'
    nginx.ingress.kubernetes.io/enable-cors: "true"


metrics:
  enabled: false
  path: '/metrics'
  port: 8080

persistence:
  sharedData:
    enabled: false
    existingClaim: ""
    type: emptyDir
    size: 1Gi
    storageClass: ""
    accessMode: ReadWriteOnce

vault:
  enabled: true
  role: ''
  skipVerify: "true"
  url: ''
  envFrom:
    enabled: false
    path: ''

initContainers: []

extraVolumes: []
extraVolumeMounts: []
extraContainers: []
preInitContainers: []
extraResources: ""
