replicaCount: 1

name: &name stairling-backend

strategy: {}
#  type: Recreate
# Rollout sample
# canary:
#   maxSurge: 3
#   maxUnavailable: 0
#   canaryService: app-canary
#   stableService: app
#   steps:
#     - setWeight: 50
#     - pause: {}

image:
  repository: ghcr.io/stairlingtechnologies/backend
  tag: ''
  pullSecrets: []
  #  - name: secret
  transferCreation:
    repository: ghcr.io/stairlingtechnologies/transfer-creation-job
    tag: ''
  transferStatusUpdate:
    repository: ghcr.io/stairlingtechnologies/transfer-status-update-job
    tag: ''
serviceAccount:
  create: true
  token: true
  name: *name
  annotations: {}

podAnnotations: {}
podLabels: {}
resources: {}

cronjobs:
  transferCreation:
    enabled: false
    schedules:
      - "0 6-18/2 * * mon-fri"
      - "0 6-18/4 * * sat,sun"
  transferStatusUpdate:
    enabled: false
    schedules:
      - "0 7-19/2 * * mon-fri"
      - "0 7-19/4 * * sat,sun"

service:
  name: *name
  internalPort: 4000
  externalPort: 443
  type: ClusterIP

ingress:
  enabled: true
  host: ''
  path: /
  className: ''
  annotations: {}

metrics:
  enabled: false
  path: '/metrics'
  port: 8080

extraResources: ""

vault:
  enabled: true
  role: ''
  skipVerify: "true"
  url: ''
  envFrom:
    enabled: true
    path: ''

initContainers: []

extraVolumes: []
extraVolumeMounts: []
