name: Lint and Test Charts

on: pull_request

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.10.0

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.12.5

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.3.1
        with:
          version: v3.10.0

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --config ct.yaml)
          if [[ -n "$changed" ]]; then
            echo "::set-output name=changed::true"
          fi
          echo 'LIST_CHANGED<<EOF' >> $GITHUB_ENV
          ct list-changed --config ct.yaml >> $GITHUB_ENV
          echo 'EOF' >> $GITHUB_ENV

      - name: Run chart-testing (lint)
        run: ct lint --config ct.yaml

#      - name: Create kind cluster
#        uses: helm/kind-action@v1.4.0
#        if: steps.list-changed.outputs.changed == 'true'
#        with:
#          version: v0.11.1
#          config: kind.yaml
#
#      - name: Run chart-testing (install)
#        run: ct install --config ct.yaml
